@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;500;600;700;900&display=swap');

:root {
  --container-width: 1920px;
  --container-padding: 120px;
  --col-1-width: calc(var(--container-width) - var(--container-padding) * 2);
  --col-2-width: calc(var(--col-1-width) / 2);

  --pink: #FB01F7;
  --blue: #99ffff;
  --dark: #0F0D16;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Unbounded', sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #FFF;

  background-color: #000;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

h1 {
  font-size: 64px;
  font-weight: 900;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

img,
video {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

/* -- LENIS -- */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* -- UTILS -- */
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.meta-container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
}

.meta-spacer {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.meta-col {
  flex-grow: 1;
}

.meta-col-1 {
  width: 100%;
  max-width: 850px;
}

.meta-col-2 {
  width: 100%;
  max-width: 447px;
}

.meta-col-3 {
  width: 100%;
  max-width: 366px;
}

.primary-accent {
  color: var(--pink);
}

.secondary-accent {
  color: var(--blue);
}

.text-medium {
  font-weight: 500;
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
}

.hideOnDesktop {
  display: none !important;
}

@media (min-width: 390px) {
  .hideUpTo390 {
    display: none !important;
  }
}

/* -- HERO SECTION -- */
.hero {
  height: 75vh;
  height: calc(var(--vh, 1vh) * 75);
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero_background {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero_background-image,
.hero_background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_title {
  display: flex;
  align-items: stretch;
  position: relative;
  z-index: 10;
  pointer-events: none;
}

.item-wrapper {
  position: relative;
  overflow: hidden;
}

.item-wrapper-meta {
  width: 100%;
}

.item-wrapper-fora {
  width: 100%;
}

.item {
  height: 100%;
}

.item-svg {
  height: 100%;
  display: flex;
  align-items: center;
}

.rollDown > .item-svg:not(:first-child) > svg,
.rollUp > .item-svg:not(:first-child) > svg {
  position: absolute;
}

.item-svg svg {
  display: block;
  height: auto;
  width: 100%;
}

.rollUp {
  transform: translateY(100%);
}

.rollDown {
  transform: translateY(-300%);
}

.rollUp.animated {
  animation: roll-meta 2.2s cubic-bezier(.5, .5, 0, 1) both;
}

.rollDown.animated {
  animation: roll-fora 2.2s cubic-bezier(.5, .5, 0, 1) both;
}

@keyframes roll-meta {
  100% {
    transform: translateY(-200%);
  }
}

@keyframes roll-fora {
  100% {
    transform: translateY(0%);
  }
}

.hero_content {
  display: flex;
  margin-top: 20px;
}

.slideUp {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}

.slideDown {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
  transform: translateY(-100px);
}

.hero_col-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--blue);
  margin-bottom: 11px;
}

.hero_col-text {
  font-size: 24px;
  line-height: 100%;
  font-weight: 300;
  color: #FFF;
}

.hero_bottom {
  margin-top: auto;
  width: 100%;
}

/* -- ABOUT SECTION -- */
.about {
  display: flex;
  background-image: url("https://meta4a.space/wp-content/uploads/2023/09/about.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.about_pinned {
  width: 100%;
  height: 24vh;
  height: calc(var(--vh, 1vh) * 24);
  
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}

.about_pinned-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: var(--container-padding);
}

.about_logo {
  height: 100%;
}

.about_we {
  width: 100%;
  max-width: 45% !important;
  height: 100%;
}

.about_logo > img,
.about_we > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.about_right {
  width: 100%;

  display: flex;
  flex-direction: column;
  position: relative;

  color: #fff;
}

.right_col-content {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 25%;
  right: 0;
}

.about_row {
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.right_col-content_image {
  width: 100%;
  padding-right: 20px;
}

.right_col-content_image > img {
  width: auto;
}

/* -- CASES SECTION -- */
.cases {
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding: 2% 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.cases_title {
  line-height: 1;
  margin-bottom: 20px;
}

.cases_slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.cases_slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 25px;
 
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.cases_slide:nth-child(1) {
  background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/3.jpg");
}
.cases_slide:nth-child(2) {
  clip-path: url(#clippathFrom1);
  background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/2.jpg");
}
.cases_slide:nth-child(3) {
  clip-path: url(#clippathFrom2);
  background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/9.jpg");
}
.cases_slide:nth-child(4) {
  clip-path: url(#clippathFrom3);
  background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/1.jpg");
}
.cases_slide:nth-child(5) {
  clip-path: url(#clippathFrom4);
  background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/4.jpg");
}
.cases_slide:nth-child(6) {
  clip-path: url(#clippathFrom5);
  background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/5.jpg");
}
.cases_slide:nth-child(7) {
  clip-path: url(#clippathFrom6);
  background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/6.jpg");
}
.cases_slide:nth-child(8) {
  clip-path: url(#clippathFrom7);
  background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/7.jpg");
}
.cases_slide:nth-child(9) {
  clip-path: url(#clippathFrom8);
  background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/8.jpg");
}

/* -- PARTNERS SECTION -- */
.partners {
  margin-top: 40px;
}

.partners_title {
  margin-bottom: 40px;
}

.partners_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

/* -- FOOTER -- */
.meta-footer {
  display: flex;
  margin-top: 80px;
}

.meta-footer .meta-col-1 {
  padding-right: 20px;
}

.meta-footer .meta-col {
  display: flex;
  align-items: flex-end;
}

.footer_nav {
  margin: 0 auto;
}

.footer_nav-list,
.footer_info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer_nav-list {
  color: var(--blue);
}

.footer_info-item--socials {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.footer_info-item > a > svg {
  width: 32px;
  height: 32px;
  fill: #FFF;
}


/* -- COPYRIGHT -- */
.copyright {
  display: flex;
  margin-top: 120px;
}

.copyright_text {
  font-size: 14px;
  color: #FFF;
  padding: 20px 0;
  opacity: 1;
}

/* -- MEDIA QUERIES -- */
@media (max-width: 1440px) and (min-width: 1280.1px) {
  :root {
    --container-width: 1440px;
    --container-padding: 100px;
  }

  /* -- UTILS -- */
  .meta-col-1 {
    padding-right: 20px;
  }
  .meta-col-2 {
    padding-right: 20px;
  }

  /* -- ABOUT SECTION -- */
  .about {
    margin-bottom: 80px;
    background-size: contain;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about_right {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about_logo {
    height: 155px;
  }
  .right_col-content {
    max-width: 1236px;
  }

  /* -- CASES SECTION -- */
  .cases {
    margin-bottom: 80px;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  /* -- PARTNERS SECTION -- */
  .partners {
    margin-bottom: 80px;
  }
}

@media (max-width: 1280px) and (min-width: 1140px) {
  :root {
    --container-width: 1280px;
    --container-padding: 40px;
  }
  body {
    font-size: 15px;
  }

  /* -- UTILS -- */
  .meta-col-1 {
    max-width: 600px;
    padding-right: 20px;
  }
  .meta-col-2 {
    max-width: 380px;
    padding-right: 20px;
  }
  .meta-col-3 {
    max-width: 220px;
  }

  /* -- HERO SECTION -- */
  .hero_col-title,
  .hero_col-text {
    font-size: 20px;
  }

  /* -- ABOUT SECTION -- */
  .about {
    margin-bottom: 80px;
    background-size: contain;
  }
  .about_logo {
    height: 135px;
  }
  .about_right {
    padding-left: 20px;
    padding-right: 20px;
  }
  .right_col-content {
    max-width: 1000px;
  }

  /* -- CASES SECTION -- */
  .cases {
    margin-bottom: 80px;
    padding-top: 7%;
    padding-bottom: 7%;
  }

  /* -- PARTNERS SECTION -- */
  .partners {
    margin-bottom: 80px;
  }
}

@media (max-width: 480px) {
  :root {
    --container-width: 480px;
    --container-padding: 10px;
  }
  body {
    font-size: 15px;
  }

  /* -- UTILS -- */
  .hideOnMobile {
    display: none !important;
  }
  .hideOnDesktop {
    display: block !important;
  }
  .meta-footer .meta-col-1 {
    padding-right: 0;
  }
  .meta-col-1 {
    max-width: 100%;
    padding-right: 0;
  }
  .meta-col-2 {
    max-width: 100%;
    padding-right: 0;
  }
  .meta-col-3 {
    max-width: 100%;
    padding-right: 0;
  }
  .section-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
  }

  /* -- HERO SECTION -- */
  .hero {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .hero_title {
    padding-top: var(--container-padding);
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
  }
  .hero_content {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .hero_col:not(:last-child) {
    margin-bottom: 20px;
  }
  .hero_col-title,
  .hero_col-text {
    font-size: 15px;
  }
  .hero_bottom-inner {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    padding-bottom: 10px;
  }
  .hero_bottom-logo {
    max-width: 100px;
    margin-bottom: 20px;
  }

  /* -- ABOUT SECTION -- */
  .about {
    padding-left: 0 !important;
    background-size: calc(100% - var(--container-padding) * 2);
    background-position: bottom 5px center;
  }
  .about_top {
    width: 100%;
    padding-top: 10px;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-bottom: 10px;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
  }
  .about_pinned {
    height: 20vh;
    height: calc(var(--vh, 1vh) * 20);
  }
  .about_pinned-inner {
    padding-right: var(--container-padding);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 20px;
  }
  .about_logo {
    width: 100%;
    max-width: 100px;
  }
  .about_we {
    width: 100%;
    max-width: 100% !important;
  }
  .about_right {
    padding: var(--container-padding);
  }
  .right_col-content {
    width: calc(100% - var(--container-padding) * 2);
    max-width: 480px;
    height: auto;
    max-height: calc(100% - 170px);
    padding: var(--container-padding);
    top: 100px;
    right: initial;

    border-radius: 10px;
    overflow: hidden;
  }
  .about_content-row--motley::before,
  .about_content-row--motley::after,
  .about_content-row--purple::after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 1px;
    height: 1px;
    border-radius: 100%;
  }
  .about_content-row--purple::after {
    right: 15px;
    top: 20px;
    background-color: rgba(51, 0, 153, 0.3);
    box-shadow: 0 0 70px 60px rgba(51, 0, 153, 0.3);
  }
  .about_content-row--motley::before {
    right: 15px;
    bottom: 20px;
    background-color: rgb(251, 1, 247, 0.3);
    box-shadow: 0 0 70px 60px rgb(251, 1, 247, 0.3);
  }
  .about_content-row--motley::after {
    left: 25px;
    top: 10px;
    background-color: rgb(0, 133, 255, 0.3);
    box-shadow: 0 0 70px 60px rgb(0, 133, 255, 0.3);
  }
  .about_right.hideOnDesktop > .right_col-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0;
    background-color: transparent;
  }
  .about_content-row {
    display: flex;
    flex-direction: column;
    padding: calc(var(--container-padding) * 2) var(--container-padding);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--dark);
  }
  .about_content-row--image {
    flex-direction: row;
  }
  .right_col-content_image {
    padding-right: 0;
    flex: 1 1 0;
  }
  .right_col-content_image img {
    height: 100%;
  }
  .about_content-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .about_content-text {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 0;
  }

  /* -- CASES SECTION -- */
  .cases {
    height: 70vh;
    height: calc(var(--vh, 1vh) * 70);
    padding-top: 20px;
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
    margin-top: 80px;
  }
  .cases_title {
    padding-right: var(--container-padding);
    padding-left: var(--container-padding);
  }
  .cases_slider {
    flex-grow: 1;
    border-radius: 10px;
  }
  .cases_slide {
    border-radius: 10px;
    background-position: bottom center;
  }
  .cases_slide:nth-child(1) {
    background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/3-mob.jpg");
  }
  .cases_slide:nth-child(2) {
    background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/2-mob.jpg");
  }
  .cases_slide:nth-child(3) {
    background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/9-mob.jpg");
  }
  .cases_slide:nth-child(4) {
    background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/1-mob.jpg");
  }
  .cases_slide:nth-child(5) {
    background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/4-mob.jpg");
  }
  .cases_slide:nth-child(6) {
    background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/5-mob.jpg");
  }
  .cases_slide:nth-child(7) {
    background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/6-mob.jpg");
  }
  .cases_slide:nth-child(8) {
    background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/7-mob.jpg");
  }
  .cases_slide:nth-child(9) {
    background-image: url("https://meta4a.space/wp-content/uploads/2023/09/cases/8-mob.jpg");
  }

  /* -- PARTNERS SECTION -- */
  .partners {
    padding-right: calc(var(--container-padding) * 2);
    padding-left: calc(var(--container-padding) * 2);
  }
  .partners_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .partners_image {
    width: calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* -- FOOTER -- */
  .meta-footer {
    flex-direction: column;
    row-gap: 30px;
    margin-top: 80px;
  }
  .footer_nav {
    margin: 0;
  }
  .footer_nav-list {
    row-gap: 12px;
    margin-bottom: 60px;
  }

  /* COPYRIGHT */
  .copyright {
    position: relative;
  }
  .copyright::before {
    content: '';
    position: absolute;
    top: 0;
    left: var(--container-padding);

    width: 20%;
    height: 1px;
    background-color: #fff;
  }
  .copyright > .meta-col {
    display: none;
  }
  .copyright_text {
    font-size: 13px;
  }
}

@media (max-width: 480px) and (height <= 760px) {
  .about_content-row {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .about_content-row--image {
    max-height: 160px;
  }
  .about_content-title {
    font-size: 16px;
  }
  .about_content-text {
    font-size: 14px;
  }
}

@media (max-width: 380px) and (height <= 640px) {
  .about_right.hideOnDesktop > .right_col-content {
    row-gap: 8px;
    top: 90px;
  }
  .about_content-row {
    padding: 12px;
  }
  .about_content-row--image {
    max-height: 150px;
  }
  .about_content-title {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .about_content-text {
    font-size: 13px;
  }
}